app:
  host: api-ozensemble.fabrique.social.gouv.fr
  resources:
    requests:
      cpu: 200m
      memory: 1Gi
    limits:
      cpu: 300m
      memory: 2Gi
  autoscale:
    enabled: true
  
cronjobs:
  ~chart: daemon
  ~needs: [build-app, pg]
  imagePackage: app
  replicas: 1
  entrypoint: ["node", "./src/cronjobs.js"]
  envFrom:
    - secretRef:
        name: "pg-app"
    - secretRef:
        name: api

pg:
cnpg-cluster:
    resources:
      requests:
        memory: 1Gi
      limits:
        cpu: "1"
        memory: 1Gi
  backup:
    name: prod-ovh # backup on a new folder
  cnpg-cluster:
    recovery:
      enabled: true
      ~tpl~database: "{{ .Values.global.pgDatabase }}"
      ~tpl~owner: "{{ .Values.global.pgUser }}"
      secretName: "pg-db"
      barmanObjectStore:
        ~tpl~destinationPath: "s3://ozensemble-prod-backups/ozensemble"
        s3Credentials:
          accessKeyId:
            ~tpl~name: "ozensemble-prod-backups-access-key"
            key: bucket_access_key
          secretAccessKey:
            ~tpl~name: "ozensemble-prod-backups-access-key"
            key: bucket_secret_key
          region:
            ~tpl~name: "ozensemble-prod-backups-access-key"
            key: bucket_region
